*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
appLogTic/.dart_tool/*
appLogTic/.dart_tool/

appLogTic/.dart_tool

appLogTic/android

appLogTic/android/

appLogTic/build
out/
appLogTic/.dart_tool/
.freebuff/
appLogTic/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
appLogTic/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
appLogTic/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
